/* mobile */
@media (max-width: 739px) {
  .hide-on-mobile {
    display: none;
  }
}

/* tablet */
@media (min-width: 740px) and (max-width: 1023px) {
}

/* pc */
@media (min-width: 1024px) {
  .od-note-title {
    display: none;
  }
}

/* mobile & tablet */
@media (max-width: 1023px) {
  .hide-on-mobile-tablet {
    display: none;
  }
}

/* tablet & pc */
@media (min-width: 740px) {
}
